
@{
    ViewData["Title"] = "Delete";
}

<h3>Deleted</h3>
<hr />
<h4 class="text-success">
    The selected product was deleted!
</h4>
<a class="btn btn-light" asp-area="" asp-controller="Product" asp-action="Index">
    Go to product list
</a>
