@model IEnumerable<DellChallenge.D2.Web.Models.ProductModel>

@{
    ViewData["Title"] = "View";
}
<h4>All Products</h4>
<hr />

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="row mb-1">
            <div class="col-md-4">
                @item.Name - @item.Category
            </div>
            <div class="col text-right">
                <a class="btn btn-danger" asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">
                    Sterge
                </a>

                <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">
                    Editeaza
                </a>
            </div>
        </div>
        <hr />
    }
</div>